#controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#controls * {
    background: #333;
    padding: 10px 15px;
    color: #fff;
    margin: 10px;
    border-style: none;
    border-radius: 15px;
    outline: none;
}

#controls button {
    transition: 250ms all;
    cursor: pointer;
}

#controls button:hover {
    background: #fff;
    color: #222;
}

#hint {
    color: #ccc;
    margin-bottom: 15px;
}

#editor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

#editor * {
    max-width: 50vw;
}

#submit-file {
    color: #ccc;
}

h1 {
    white-space: nowrap;
}

input #file-upload-button {
    background: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}

textarea {
    margin: 15px;
    background: #333333;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    -webkit-appearance: none;
    outline: none;
    color: #fff;
    padding: 15px;
}

textarea::placeholder {
    color: #bbb;
}