* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#markdown-text {
    margin: 15px;
    border: 2px solid #FFFFFF;
    outline: none;
    color: #fff;
    padding: 15px;
    max-width: 80vw;
    border-radius: 15px;
    box-sizing: border-box;
}

#markdown-text * {
    overflow-wrap: break-word;
    margin: inherit;
    padding: 0;
}

#markdown-text a {
    color: rgb(130, 180, 255);
    transition: 250ms color;
}

#markdown-text a:hover {
    color: rgb(47, 113, 212);
}

#markdown-text li {
    margin-left: 25px;
}

input:disabled {
    background: red;
    padding: 25px;
}

*>ul {
    list-style: none;
    text-indent: -1em;
}