* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#markdown-text {
    margin: 15px;
    border: 2px solid #FFFFFF;
    outline: none;
    color: #fff;
    padding: 15px;
    max-width: 80vw;
    border-radius: 15px;
    box-sizing: border-box;
}

#markdown-text * {
    overflow-wrap: break-word;
    margin: inherit;
    padding: 0;
}

#markdown-text a {
    color: rgb(130, 180, 255);
    transition: 250ms color;
}

#markdown-text a:hover {
    color: rgb(47, 113, 212);
}

#markdown-text li {
    margin-left: 25px;
}

input:disabled {
    background: red;
    padding: 25px;
}

*>ul {
    list-style: none;
    /* text-indent: -2.7em; */
    text-indent: -1em;
}

/* #copy-html {
    width: min-content;
    height: min-content;
    white-space: nowrap;
    background: #333;
    padding: 10px 15px;
    color: #fff;
    margin: 10px;
    border-style: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: 250ms all;
    position: fixed;
}

#copy-html:hover {
    background: #fff;
    color: #222;
} */